@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This class produces unexpected output during execution  */
.main-content {
  margin-left: 200px;
  padding: 20px;
  margin-top: 55px;
}

/* body {
  font-family: Arial;
  background: #f0f0f0;
} */

/* .global-header {
  background: #035fcf;
  color: white;
  padding: 15px 15px 17px 15px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
} */
/* .menu-btn {
  background: none;
  border: none;
  margin: 0px 4px 0px 0px;
  color: rgb(9, 222, 251);
  font-size: 20px;
  cursor: pointer;
} */

/* .sidebar {
  background: #0a5bb7bb;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 55px;
}
.sidebar.closed {
  display: none;
} */
/* .nav-item {
  display: block;
  padding: 10px;
  color: #2e2d2d;
  text-decoration: none;
  cursor: pointer;
} */
/* .nav-item:hover {
  background: #ddd;
} */

/* 3shan el sidebar */
/* .main-content.full {
  margin-left: 0;
} */

/* 
.page-title {
  font-size: 24px;
  margin-bottom: 20px;
} */

/* .items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
} */
/* 
.item-card {
  background: white;
  padding: 15px;
  border-radius: 5px;
} */
/*

.item-body {
  text-align: center;
}
.item-image {
  font-size: 60px;
  margin-bottom: 10px;
} */

/* .item-title {
  font-weight: bold;
  margin: 10px 0;
} */

/* .item-desc {
  color: #666;
  margin-bottom: 10px;
} */
/* .view-details-btn {
  color: blue;
  text-decoration: none;
} */
