@import "tailwindcss";

body {
  font-family: ui-sans-serif;
  background-color: white;
  box-sizing: border-box;
}

@theme {
  --color-primary: oklch(0.72 0.11 178);
  --color-togsidebar: #09defb;

  --color-sidebar: #0a5bb7bb;
  --color-hoverfetch: #2a4a73;
  --color-text1: #ffffff;
  --color-fetch: #1e3a5f;
  --color-reset: #dc2626;
  --color-horeset: #b91c1c;
  --color-hoaxios: #1d4ed8;
  --color-axios: #2563eb;

  --color-textload: #6a7282;
  --color-textid: #155dfc;
  --color-textbody: #4a5565;

  --color-bgcolorWH: #d1d5dc;

  --color-sidescontent: #27272a;
  --color-sideconthov: #d1d5dc;

  --color-title: #000000;
  --color-error: oklch(50.5% 0.213 27.518);
  --color-price: #00875a;

  --color-addcart: #155dfc;
  --color-incDec: #000000;
  --color-addcarthover: #1447e6;
  --color-remove: #fb2c36;
  --color-incDecbg: #d1d5dc;
  --color-incDechover: #e5e7eb;

  --color-titelcart: #1e2939;
  --color-categorycart: #6a7282;

  --color-showmore: #0a5bb7bb;
  --color-showmorehover: #155dfc;
}
