@import "tailwindcss";

body {
  font-family: ui-sans-serif;
  background-color: #fafaf5;
  box-sizing: border-box;
}

@theme {
  --color-primary: #b5813a;

  --color-togsidebar: #c9963f;
  --color-sidebar: #4a3520bb;

  --color-fetch: #4a3520;
  --color-hoverfetch: #2e1f0f;
  --color-axios: #b5813a;
  --color-hoaxios: #966a28;

  --color-text1: #ffffff;
  --color-textload: #9b7d5a;
  --color-textid: #b5813a;
  --color-textbody: #5a4230;

  --color-title: #3c2a14;

  --color-bgcolorWH: #eee8dc;

  --color-sidescontent: #2e1f0f;
  --color-sideconthov: #eee8dc;

  --color-error: oklch(50.5% 0.213 27.518);
  --color-reset: #c0392b;
  --color-horeset: #a93226;

  --color-price: #4e7c5f;

  --color-addcart: #b5813a;
  --color-addcarthover: #966a28;
  --color-incDec: #3c2a14;
  --color-incDecbg: #eee8dc;
  --color-incDechover: #e0d5c3;
  --color-remove: #c0392b;

  --color-titelcart: #2e1f0f;
  --color-categorycart: #9b7d5a;

  --color-showmore: #b5813abb;
  --color-showmorehover: #b5813a;
}
